<div id="photo-modal" class="fade<% if @full %> full<% end %>">
  <div class="backdrop"></div>
  <div class="view-container">
    <div class="metadata">
      <div class="tags">
        <p><i class="fa fa-fw fa-tags"></i> <span></span></p>
      </div>
      <div class="persons">
        <p><i class="fa fa-fw fa-users"></i> <span></span></p>
      </div>
    </div>
    <span class="fa-stack fa-lg metadata-button">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-info fa-stack-1x fa-inverse"></i>
    </span>
  </div>
  <span class="fa-stack fa-4x fade modal-prev">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-chevron-left fa-stack-1x fa-inverse"></i>
  </span>
  <span class="fa-stack fa-4x fade modal-next">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
  </span>
</div>
