<div id="photo-modal" class="fade">
  <div class="backdrop"></div>
  <span class="fa-stack fa-4x fade modal-prev">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-chevron-left fa-stack-1x fa-inverse"></i>
  </span>
  <span class="fa-stack fa-4x fade modal-next">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
  </span>
</div>
