<a href="<%= url_for(photo) %>" class="thumbnail"
   data-meta='<%= photo.metadata.to_json %>'
   data-type="<%= photo.video? ? 'video' : 'image' %>">
  <div>
    <img data-layzr="/thumbs/<%= photo.id %>">
    <% if photo.is_favorite? %>
      <i class="fa fa-heart fa-lg top-left"></i>
    <% end %>
    <% if photo.video? %>
      <i class="fa fa-film fa-lg bottom-right"></i>
    <% end %>
  </div>
</a>
