<div class="thumbnail">
  <a href="<%= url_for(photo) %>">
    <img src="/thumbs/<%= photo.id %>">
  </a>
  <div class="caption">
    <% unless photo.tags.to_a.empty? %>
      <p>Tags: <%= photo.tags.map { |t| link_to t }.join('') %></p>
    <% end %>
  </div>
</div>
