<h1><%= @album.name %></h1>

<div class="row">
  <% @album.photos.order(:date).each do |photo| %>
    <%= partial :thumbnail, locals: { photo: photo } %>
  <% end %>
</div>

<%= partial :photo_modal %>
