<div class="list-group">
  <a class="list-group-item" href="/photos">All photos</a>
  <a class="list-group-item" href="/favorites">Favorites</a>
</div>

<h2>Albums</h2>

<div class="list-group">
  <% @albums.each do |album| %>
    <%= link_to album, 'list-group-item' %>
  <% end %>
</div>

<h2>Tags</h2>

<h3>
  <%= @tags.map { |tag| link_to tag }.join %>
</h3>
