<div class="list-group">
  <a class="link list-group-item" href="/photos">
    <i class="fa fa-fw fa-th"></i> All photos
  </a>
  <a class="link list-group-item" href="/map">
    <i class="fa fa-fw fa-globe"></i> By Location
  </a>
  <a class="link list-group-item" href="/favorites">
    <i class="fa fa-fw fa-heart"></i> Favorites
  </a>
  <a class="link list-group-item" href="/movies">
    <i class="fa fa-fw fa-film"></i> Movies
  </a>
</div>

<h2><i class="fa fa-fw fa-folder-o"></i> Albums</h2>

<div class="list-group">
  <% @albums.regular.each do |album| %>
    <%= link_to album, 'link col-md-4 list-group-item' %>
  <% end %>
</div>

<div class="clearfix"></div>

<h2><i class="fa fa-fw fa-calendar-o"></i> Projects</h2>

<div class="list-group">
  <% @albums.projects.each do |project| %>
    <%= link_to project, 'link col-md-4 list-group-item' %>
  <% end %>
</div>

<div class="clearfix"></div>

<h2><i class="fa fa-fw fa-tags"></i> Tags</h2>

<h3>
  <%= @tags.map { |tag| link_to tag }.join %>
</h3>

<h2><i class="fa fa-fw fa-users"></i> Persons</h2>

<h3>
  <%= @persons.map { |person| link_to person }.join %>
</h3>
