<div class="list-group">
  <a class="list-group-item" href="/photos">
    <i class="fa fa-fw fa-th"></i> All photos
  </a>
  <a class="list-group-item" href="/favorites">
    <i class="fa fa-fw fa-heart"></i> Favorites
  </a>
</div>

<h2><i class="fa fa-fw fa-folder-o"></i> Albums</h2>

<div class="list-group">
  <% @albums.each do |album| %>
    <%= link_to album, 'list-group-item' %>
  <% end %>
</div>

<h2><i class="fa fa-fw fa-tags"></i> Tags</h2>

<h3>
  <%= @tags.map { |tag| link_to tag }.join %>
</h3>

<h2><i class="fa fa-fw fa-users"></i> Persons</h2>

<h3>
  <%= @persons.map { |person| link_to person }.join %>
</h3>
