<h1><%= library.name %></h1>

<h2>Albums</h2>

<ul>
  <% @albums.each do |album| %>
    <li><%= link_to album %></li>
  <% end %>
</ul>

<h2>Tags</h2>

<h3>
  <%= @tags.map { |tag| link_to tag }.join %>
</h3>
