<h1><%= @tag.name %></h1>

<div class="row">
  <% @tag.photos.order(:date).each do |photo| %>
    <div class="col-md-3">
      <%= partial :thumbnail, locals: { photo: photo } %>
    </div>
  <% end %>
</div>
